.navBarContainer {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    padding: 1rem 1rem;
    background-color: rgb(236, 236, 236);
}
.navBarContainer img {
    width: 4rem;
}
.dateRangeContainer {
    position: relative;
}

.dateRangeContainer .dateInput {
    position: relative;
    top: 100%; 
    left: 0;
    z-index: 1; 
}

.notError {
    background-color: rgb(212, 212, 212);
    padding: 0.5rem;
    border-radius: 5px;
}