.mapComponentContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.leaflet-container {
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
